{% block _user_roles_widget%}
    <select id="" class="form-control" name="user_roles">
        <option value="0">Invité</option>
        <option value="1">Editeur</option>
        <option value="2">Administrateur</option>
    </select>
{% endblock %}