{% for companie in companies %}
    <tr>
        <td>
            <a href="{{ path('_companie', {'id': companie.id}) }}">{{ companie.companieName }}</a>

        </td>
        <td>
            <a href="{{ path('_companie', {'id': companie.id}) }}">{{ companie.type.label }}</a>
        </td>
    </tr>
{% endfor %}
