{% for companie in companies %}
    <a href="">
        <li class="list-group-item">
            {# TODO ask what to display at this place #}
            {{ companie.getCompanieName() }}
        </li>
    </a>
{% endfor %}
