{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}Ajouter
{% endblock %}

{% block content %}
    {# TODO do ajax call for require template => WARNING: must be sure that in this way, the submit method wouldnt be GET instead of POST#}
    <div>
        <a href="{{ path('_addCompanie') }}">entreprise</a>
    </div>
    <div>
        <a href="{{ path('_addContact') }}">contact</a>
    </div>
    <div>
        <a href="">projet</a>
    </div>
{% endblock %}

