input.imgProject-button{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
input.imgProject-button:focus-within + label.imgInput-label{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
label.imgInput-label{
    margin-top: 20px;
}

ul.add-companies + ul.add-contacts{
    padding-left: 0px
}