input#add_project_imageFile_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input#add_project_imageFile_file:focus-within + label.imgInput-label{
    border-color: #6c757d;
    outline: 0;
    box-shadow: 0 0 0 .1rem #6c757d;
}

input#add_project_imageFile_file + label.imgInput-label {
    cursor: pointer; /* "hand" cursor */
}

div.vich-image{
    margin-top: 20px;
}

input.btn-addFile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input.btn-addFile:focus-within + label.fileInput-label{
    border-color: #6c757d;
    outline: 0;
    box-shadow: 0 0 0 .1rem #6c757d;
}

input.btn-addFile + label.fileInput-label {
    cursor: pointer; /* "hand" cursor */
}

ul.add-companies + ul.add-contacts{
    padding-left: 0;
}

img#projectImage{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

label.labelImgSet{
    max-width: 50%;
}

img.projectFiles{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}