{{ form_start(formSearch, {'attr': {'id': 'search-form'}}) }}
    {{ form_widget(formSearch.search, { 'attr': {'id': 'my_id'} }) }}
    <button type="submit" class="btn btn-dark" id="btn-search">
        <span data-feather="search"></span>
    </button>
{{ form_end(formSearch) }}