Bonjour {{ user.firstName }},

Ce mail vous permet de réinitialiser votre mot de passe.
Votre code de confirmation :
Pour réinitialiser votre mot de passe, cliquer sur ce lien: <a href="{{ url }}">{{ url }}</a>.