<h3>Inscription au site Connect</h3>


Bonjour,

Vous recevez ce mail pour finaliser votre inscription au site Connect de JPS-Eclairage.
Pour finaliser votre inscription, veuiller vous rendre au lien suivant : <a href="{{ url }}">{{ url }}</a>