<h3>Inscription complété</h3>


Bonjour,

Vous avez finaliser votre inscription au site Connect de JPS-Eclairage.
Vous pouvez à présent vous connecter au site via le lien suivant : <a href="{{ url }}">{{ url }}</a>